<p1>
<title>Reserveren.</title>



 <div class="w3-col m3">
   <h2>Machines</h2>
   <ul>
     <% @machines.each do |machine| %>
         <h3><%= machine.name %></h3>
        <% machine.bookings.each do |booking| %>
         <li>
           <%= booking.time_start %>
           -
           <%= booking.time_end %>
         </li>

        <% end %>
     <% end %>
   </ul>
         <ul>
    <%= link_to "Nieuwe Reservatie", [:new, :admin, :reservation],
                class: "new w3-btn w3-purple w3-margin-bottom"%>
  </ul>
</div>
</p1>