  <title>Verhuren.</title>
  <div class="w3-col m3">
    <h1><%= @time_start %></h1>
    <h2>Machines</h2>
      <div id="calendar" style="width: 100%;"></div>
    <ul>
      <%= link_to "Nieuw Verhuuring", [:new, :admin, :renting],
                  class: "new w3-btn w3-purple w3-margin-bottom"%>
    </ul>
  </div>

  <script>
      $('#calendar').fullCalendar({
        events: "<%= @renting.to_json %>"
    });
  </script>