<script>
    $(document).ready(function() {

        $('#calendar').fullCalendar({

            header: {
                right: 'prev,next today',
                left: 'title',
                center: 'agendaDay,agendaWeek,month'
            },
            defaultView: 'month',
            eventColor: '#cddc39',
            weekends: false,
            editable: false,
            events: "<%= @events %>",
            timeFormat: {
                agenda: 'HH:mm{ - HH:mm}'
            }
        });
    });
</script>

<div class="w3-row-padding w3-padding-left w3-margin-bottom">
  <td><%= link_to new_event_path, class:"w3-button w3-circle w3-lime w3-white-text"  do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>
  </td>
</div>