<% title("Admin") %>

<div class="w3-container w3-margin-top">
	<header class="w3-center">
		<h2>Admin Lounge</h2>
		<% if current_user %>
			<ul class="actions w3-ul">
				<li>			<%= link_to "Gebruikers", admin_users_path, 
								class: "new w3-btn w3-purple w3-margin-bottom"%>
								<%= link_to "Machines", admin_machines_path, 
								class: "new w3-btn w3-purple w3-margin-bottom"%>
								<%= link_to "Matrialen", admin_materials_path, 
								class: "new w3-btn w3-purple w3-margin-bottom"%>
								<%= link_to "Programma's", admin_programs_path, 
								class: "new w3-btn w3-purple w3-margin-bottom"%>
				</li>
			</ul>
		<% end %>
	</header>
	 
</div>
