<div id="fabmoment" class="w3-row-padding w3-margin-top">
  <% fabmoment.each do |fabmoment| %>
      <%= link_to fabmoment do %>
          <div class="w3-col m3">
            <div class="w3-card-2 w3-hover-shadow w3-margin-bottom">
              <header>
                <%  if fabmoment.pictures.any? %>
                    <%= image_path fabmoment.pictures.first %>
                <% end %>
              </header>
              <div class="w3-container w3-white">
                <h1><%= fabmoment.title %></h1>
                  <%= fabmoment.description %>
                </div>
              </div>
            </div>
      <% end %>
      </div>
  <% end %>
</div>

