<div class=”likes” id=”likes_<%= fabmoment.id %>”>
  <div class="w3-hover-opacity">
    <% if user_signed_in? %>
      <% if current_user.voted_for? fabmoment %>
        <%= link_to '', [:unlike, fabmoment], remote: true, class: "fa fa-heart w3-text-red" %>
      <% else %>
        <%= link_to '', [:like, fabmoment], remote: true, class: "fa fa-heart-o w3-text-blue-gray" %>
    <% end %>
        <% else %>
    <i class="fa fa-heart-o w3-text-blue-gray" aria="hidden"></i>
      <% end %>
    <div class="w3-text-white w3-small w3-show-inline-block">
    <%= "&times;".html_safe + fabmoment.votes_for.size.to_s if fabmoment.votes_for.size>0 %>
    </div>
  </div>
</div>



