<div class="w3-container w3-margin-top">
	<header class="w3-container">
		<h2 class="w3-center">Fablab Zeeland</h2>
    <!--<img src="https://www.fablabs.io/media/W1siZiIsIjIwMTcvMDIvMjYvMTQvMDcvMTkvMGY4ZTViNmMtNDNiYi00MDljLTg2Y2UtN2Q0YmVkYjdhZTFiL0lNR183NTg1LkpQRyJdLFsicCIsInRodW1iIiwiMzAweDMwMCJdXQ/IMG_7585.JPG?sha=513c5a1bbc8e58bf" class="w3-center">-->
				<%= form_tag search_fabmoments_path,
						method: :get,
		        class: "w3-right-align" do %>
			        <%= text_field_tag "search", params[:search], class: "w3-form" %>
			        <%= submit_tag "Zoek", class: "w3-btn w3-indigo" %>
	      <% end %>
    </header>
    <footer class="w3-center w3-topbar w3-border-blue-grey w3-padding-xlarge">
  <%= render "fabmoments/fabmoments_gallery", fabmoments: @fabmoments %>
    </footer>
</div>