<div class="w3-container w3-margin-top">
	<header class="w3-center">
		<h2>Fabmomenten</h2>
		<% if current_user %>
			<ul class="actions w3-ul">
				<li><%= link_to "Nieuw Fabmoment", new_fabmoment_path, class: "new w3-btn w3-lime w3-margin-bottom"%></li>
			</ul>
		<% end %>
	</header>
	 
	<div id="fabmoments" class="w3-row-padding w3-margin-top">
	  <% @fabmoments.each do |fabmoment| %>
	  	<%= link_to fabmoment do %>
		    <div class="w3-third">
			    <div class="w3-card-2 w3-hover-shadow w3-margin-bottom">
			    	<header class="w3-container w3-indigo w3-center">
			    		<h3><%= fabmoment.title %></h2>
						</header>
						<div class="w3-container">
						  <p><%= fabmoment.description %></p>
						</div>
					</div>
		  <% end %>
		  </div>
	  <% end %>
	</div>
</div>