<% title("Nieuw", "Fabmoments") %>

<div class="w3-container">
	<header class="w3-center">
		<h1 class="w3-margin-top w3-round-xlarge w3-lime w3-padding">Nieuw Fabmoment</h1>
	<header>
</div>

<%= render "form", fabmoment: @fabmoment %>