<% title(@fabmoment.title, "Fabmoments") %>
<div class="w3-container">
	<header>
		<h1><%= @fabmoment.title %></h1>
	<header>

		<p><%= @fabmoment.description %></p>

		<%= link_to "Verwijder Fabmoment", [@fabmoment], 
																				method: :delete, 
																				data: { confirm: "Weet je zeker dat je het fabmoment wil verwijderen?"},
																				class: "delete w3-btn w3-red" %>
</div>