<% title(@fabmoment.title, "Fabmoments") %>
<div class="w3-container">
	<header>
		<h1><%= @fabmoment.title %></h1>
	<header>

	<p><%= @fabmoment.description %></p>

	<footer class="w3-center">
		<br>
		<% if current_user %>
			<%= link_to "Bijwerken Fabmoment", [:edit, @fabmoment],  
																					class: "edit w3-btn w3-amber" %>
			<% if current_user.admin? %>
				<%= link_to "Verwijder Fabmoment", [@fabmoment], 
																						method: :delete, 
																						data: { confirm: "Weet je zeker dat je het fabmoment wil verwijderen?"},
																						class: "delete w3-btn w3-amber" %>
		<% end %>
	<% end %>
	</footer>
</div>