<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welkom <%= @user.username %>, </h1>
<p>
  Wij danken dat u zichzelf heeft geregistreerd en hopen uw snel bij het FabLab te zien :)
</p>
</body>
</html>