 @import "w3";
 @import "font-awesome";
 @import "fabmoments";
 @import "admin/users";
 @import "pictures";
 @import "fullcalendar";

 a {
   text-decoration: none;

   font-weight: bold;
 }



 div.hovercolour{
   color: white;
 }

 div.container {
   padding: 10px;
 }

 div.shader {
   box-shadow: 8px 8px 12px 8px rgba(0, 0, 0, 0.2), 8px 6px 20px 8px rgba(0, 0, 0, 0.19);
   text-align: center;
 }


 body.background {
   //background: white url("FabLabBackgroundTransparent.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: 50% bottom;
   background-attachement: scroll;
 }

.w3-card,.w3-card-2 {
  @extend .w3-white;
}

 img {
   display: inline;
   margin: 0 auto;
   height: 100%;
   width: auto;
 }

 footer {

 }

 // This is for fabmoments/show.html.erb sourcelink!

 a.sourcelink:link {
   text-decoration: underline;
   color: #0000EE;
   font-style: italic

 }
 a.sourcelink:visited {
   text-decoration: underline;
   color: #551A8B;
   font-style: italic;
 }
 //a.sourcelink:hover {
 //  text-decoration: underline;
 //  color: #cc9900;
 //  font-style: italic;
 //}
 a.sourcelink:active {
   text-decoration: underline;
   color: #EE0000;
   font-style: italic;
 }


 .countdown-timer {

 }

 #calendar{
 width: 50%;

 }
 #calendar.header{
   left: 'prev, next today';
   center: 'title';
   right: 'month, basicWeek, basicDay';
 }

