 @import "w3";
 @import "font-awesome";
 @import "fabmoments";
 @import "admin/users";

 a {
 	text-decoration: none;
 }

 body.background {
   background: white url("FabLabBackgroundTransparent.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: 50% bottom;
   background-attachement: scroll;
 }

 .image-cropper {
   width: 200px;
   height: 200px;
   position: relative;

   overflow: hidden;
   border-radius: 50%;
   border: grey;
   border-style: solid;
   border-width: thick;
 }

 img {
   display: inline;
   margin: 0 auto;
   height: 100%;
   width: auto;
 }

 .countdown-timer {

 }
