// Place all the styles related to the fabmoments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.w3-card-2 {
	height: 180px;
}

.tag {
	@extend .w3-tag;
	@extend .w3-padding-medium;
	@extend .w3-light-blue;
	@extend .w3-margin-right;
	@extend .w3-margin-top;


	a {
		&.remove {
			font-family: "FontAwesome";
			@extend .fa-times-circle;
			text-decoration: none;
		}
	}
}

.project_file {
	@extend .w3-black;
	@extend .w3-round-jumbo;

	a {
		@extend .w3-hover-text-light-blue;
		&.remove {
			@extend .w3-hover-text-red;
			font-family: "FontAwesome";
			@extend .fa-times-circle;
			text-decoration: none;
		}
	}
}