<div class="w3-padding">
  <% @machines.each do |machine| %>
      <h5><%= machine.name%></h5>

      <% unless machine.usage.nil? or machine.capacity.nil? %>
      <% (machine.capacity - machine.usage).times do %>
          <div><i class="w3-text-light-green fa fa-circle" aria-hidden="true"> Deze machine is vrij</i></div>
      <% end %>

      <% (machine.usage).times do %>
          <% if machine.usage_duration %>

          <div><i class="w3-text-red fa fa-ban" aria-hidden="true"> Ingebruik door <%= machine.usage_duration.user.username %></i></div>
          <% end %>
      <% end %>
      <% end %>

<% end %>
</div>