<footer class="site-footer">This footer will always be positioned at the bottom of the page, but
<!--<div class="row">-->
  <!--<div class="col">-->

  <!--</div>-->
  <!--<div class="col">-->

  <!--</div>-->
  <!--<div class="col">-->

  <!--</div>-->
<!--</div>-->
</footer>









<!--<footer class="footer mt-5"><a href="bottom"></a>-->
  <!--<div class="w3-dark-gray py-3">-->
    <!--<div class="container">-->
      <!--<div class="row py-3">-->
        <!--<div class="col w3-text-white">-->
          <!--<p class="text-white">-->
          <!--<ul>-->
            <!--<li>Website <a href="www.dezb.nl/fablabzeeland" class="sourcelink">www.dezb.nl/fablabzeeland</a></li>-->
            <!--<li>E-mail info@fablabzeeland.com</li>-->
            <!--<li>Telefoonnummer 0118-654217</li>-->
            <!--<li>Cursussen <a href="https://www.dezb.nl/wat-we-doen/fablabzeeland/cursussen.html" class="sourcelink">Klik hier!</a></li>-->
          <!--</ul>-->
          <!--</p>-->
        <!--</div>-->

        <!--<div class="col">-->
          <!--<div class="d-inline-block ">-->
            <!--<div class="bg-circle bg-primary w3-hover-opacity">-->
              <!--<a href="https://www.facebook.com/fablabzeeland?lang=nl" class="text-white"><i class="fa fa-2x fa-fw fa-facebook"></i>-->
                <!--https://www.facebook.com/fablabzeeland-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="bg-circle bg-info row w3-hover-opacity">-->
              <!--<a href="https://twitter.com/fablabzeeland?lang=nl" class="text-white">-->
                <!--<i class="fa fa-2x fa-fw fa-twitter"></i></a>-->
              <!--https://twitter.com/fablabzeeland-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="bg-primary w3-button w3-round w3-hover-opacity">-->
                <!--<a href="https://nl.linkedin.com/topic/fablab" class="text-white">-->
                  <!--<i class="fa fa-fw fa-linkedin fa-2x" aria-hidden="true"></i></a>-->
              <!--</div>-->
            <!--</div>-->
            <!--https://nl.linkedin.com/topic/fablab-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col">-->
          <!--<div class="w3-container">-->
            <!--<h2>Fabsheets.</h2>-->
            <!--<div class="bg-circle bg-danger w3-hover-opacity">-->
              <!--<a onclick="document.getElementById('id01').style.display='block'" class="text-white">-->
                <!--<i class="fa fa-2x fa-fw fa-file-pdf-o"></i></a>-->
            <!--</div>-->
            <!--<div id="id01" class="w3-modal">-->
              <!--<div class="w3-modal-content">-->
                <!--<div class="w3-container w3-text-black">-->
                  <!--<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright w3-text-black">&times;</span>-->
                  <!--<h1>Wat zijn FabSheets?</h1>-->
                  <!--<ul>FabSheets zijn werkdocumenten die bedoeld zijn om de bezoekers van het FabLab wegwijs te maken in het FabLab en de machines. Zo kunnen bezoekers zelfstandig beginnen.</ul>-->
                  <!--<ul>-->
                    <!--<li>FabSheet Hoe werkt het FabLab<a class="sourcelink w3-margin-left" href="https://www.dezb.nl/dam/bestanden/fablab/Fabsheet%20Hoe%20werkt%20het%20FabLab%202016.pdf">Download nu</a></li>-->
                    <!--<li>FabSheet Prijslijst materialen<a class="sourcelink w3-margin-left" href="https://www.dezb.nl/dam/bestanden/fablab/Fabsheet%20Prijslijst%20Materialen.pdf">Download nu</a></li>-->
                    <!--<li>FabSheet Lasersnijder<a class="sourcelink w3-margin-left" href="https://www.dezb.nl/dam/bestanden/Wat%20we%20doen/Fablab-2017/Fabsheet%20lasersnijder%20januari%202017.pdf">Download nu</a></li>-->
                    <!--<li>FabSheet 3D-printer<a class="sourcelink w3-margin-left" href="https://www.dezb.nl/dam/bestanden/Wat%20we%20doen/Fablab-2017/Fabsheet%203D-printer%202017.pdf">Download nu</a></li>-->
                    <!--<li>FabSheet Vinylsnijder<a class="sourcelink w3-margin-left" href="https://www.dezb.nl/dam/bestanden/fablab/Fabsheet%20Vinylsnijder%20FabLab%20Zeeland%202016.pdf">Download nu</a></li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</footer>-->