<footer class="site-footer w3-text-white">
<div class="row">

  <div class="col m3">
    <div id="contact">
      <ul class="w3-left w3-left-align w3-margin-top w3-lime w3-margin-left w3-medium w3-topbar w3-bottombar w3-border-blue-gray w3-padding w3-round-xlarge" type="none" style="background-color:#cddc39">
        <b>
          <li>Website <a href="www.dezb.nl/fablabzeeland" class="sourcelink w3-text-white">www.dezb.nl/fablabzeeland</a></li>
          <li>E-mail info@fablabzeeland.com</li>
          <li>Telefoonnummer 0118-654217</li>
          <li>Cursussen <a href="https://www.dezb.nl/wat-we-doen/fablabzeeland/cursussen.html" class="sourcelink w3-text-white">Klik hier!</a></li>
        </b>
      </ul>
    </div>
  </div>

  <div class="col m4">
    <div class="d-show-inline-block w3-container w3-left-align w3-margin-top">
      <ul compact type="none">

      <li class="w3-margin-bottom">
        <div class="bg-circle bg-primary w3-hover-opacity">
          <a href="https://www.facebook.com/fablabzeeland?lang=nl" class="text-white">
            <i class="fa fa-2x fa-fw fa-facebook"></i></a>
        </div>
        <a href="https://www.facebook.com/fablabzeeland" class="sourcelink w3-lime w3-round-large w3-large">  https://www.facebook.com/fablabzeeland  </a></li>
      </li>

      <li class="w3-margin-top">
        <div class="bg-circle bg-info w3-hover-opacity">
          <a href="https://twitter.com/fablabzeeland?lang=nl" class="text-white w3-margin-top">
            <i class="fa fa-2x fa-fw fa-twitter"></i></a>
        </div>
        <a href="https://twitter.com/fablabzeeland" class="sourcelink w3-lime w3-round-large w3-large">https://twitter.com/fablabzeeland</a></li>
      </li>

      </ul>
    </div>
  </div>

  <div class="col m2">
    <div class="w3-container w3-margin-top">
      <h2>Fabsheets.</h2>
        <div class="bg-circle bg-danger w3-hover-opacity">
          <a onclick="document.getElementById('id01').style.display='block'" class="text-white">
            <i class="fa fa-2x fa-fw fa-file-pdf-o"></i></a>
        </div>
      <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
          <div class="w3-container w3-text-black">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright w3-text-black">&times;</span>
            <h1>Wat zijn FabSheets?</h1>
            <ul>FabSheets zijn werkdocumenten die bedoeld zijn om de bezoekers van het FabLab wegwijs te maken in het FabLab en de machines. Zo kunnen bezoekers zelfstandig beginnen.</ul>
            <ul>
              <li>FabSheet Hoe werkt het FabLab<a class="sourcelink w3-margin-left" href="https://www.dezb.nl/dam/bestanden/fablab/Fabsheet%20Hoe%20werkt%20het%20FabLab%202016.pdf">Download nu</a></li>
              <li>FabSheet Prijslijst materialen<a class="sourcelink w3-margin-left" href="https://www.dezb.nl/dam/bestanden/fablab/Fabsheet%20Prijslijst%20Materialen.pdf">Download nu</a></li>
              <li>FabSheet Lasersnijder<a class="sourcelink w3-margin-left" href="https://www.dezb.nl/dam/bestanden/Wat%20we%20doen/Fablab-2017/Fabsheet%20lasersnijder%20januari%202017.pdf">Download nu</a></li>
              <li>FabSheet 3D-printer<a class="sourcelink w3-margin-left" href="https://www.dezb.nl/dam/bestanden/Wat%20we%20doen/Fablab-2017/Fabsheet%203D-printer%202017.pdf">Download nu</a></li>
              <li>FabSheet Vinylsnijder<a class="sourcelink w3-margin-left" href="https://www.dezb.nl/dam/bestanden/fablab/Fabsheet%20Vinylsnijder%20FabLab%20Zeeland%202016.pdf">Download nu</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col m2 w3-container">
      <img class="w3-white w3-circle" src="images/LogoZB.png" style="width: 40%;" />
    </div>
</div>
</footer>